*{
  box-sizing: border-box;
}

.text {
  font-family: 'Roboto', sans-serif;
  display: grid;
  justify-self: center;
  align-self: center;
  color: #c0c0c0;
  font-size: 7em;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: -4px 4px 12px #a9a9a9, 
               4px -4px 12px #d7d7d7;
  position: relative;
}